@import 'bootstrap/dist/css/bootstrap.min.css';

.mission-card {
  min-height: 300px;
}
.title {
  font-weight: 900;
}
.number {
  font-weight: 900;
}
.mission-desc {
 font-style: italic;
}
.mission-vp {
  font-weight: 800;
}

